@model deer_stalker.Models.Hunt

@{
    ViewData["Title"] = "Hunt Entered";
}

<h2>Hunt</h2>

<p>Hello from our Hunt View Template!</p>

<h3> So on your hunt in @Html.DisplayTextFor(model => model.Location), you shot @Html.DisplayTextFor(model => model.ConfirmedShot) @Html.DisplayTextFor(model => model.Species) </h3>